
.product-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 45px;
    width: 80%;
    max-width: 1200px;
margin: auto;
}
.product-element{
display: flex;
justify-content: flex-end;
flex-direction: column;
padding: 25px 20px;
background-color: var(--color-white);
box-shadow: 0 0 10px rgba(225, 0, 255, 0.5);
background-color: white;
}
.product-element__img{
    height: 270px;
    width: 100%;
    object-fit: contain;
}
.product-element__name{
    font-weight: bold;
    margin-bottom: auto;
    font-family: 'Rock Salt', cursive;
    color: rgb(71, 0, 0);
}
.product-element__price{
    color: var(--unaccept-color);
    font-family: 'Rock Salt', cursive;
    color: rgb(71, 0, 0);
}
.product-element__btn{
    background: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
    margin-top: var(--spacing-medium);
    padding: var(--spacing-small) var(--spacing-medium);
    border-radius: 3px;
    background-color: white;
border: solid 1px blueviolet;
color: blueviolet;
font-family: 'Times New Roman', Times, serif;
font-weight: bolder;

}
.product-element__btn_active{
    margin-top: var(--spacing-medium);
border: transparent;
padding: var(--spacing-small) var(--spacing-medium);
border-radius: 3px;
background-color: white;
border: solid 1px rgb(175, 30, 189);
color: rgb(175, 30, 189);;
font-family: 'Times New Roman', Times, serif;
font-weight: bolder;


}